@font-face {
    font-family: 'Bebas-Neue';
    src: url(/Eg-Fonts/fonts/BebasNeue-Regular.ttf);
}
@font-face{
    font-family: 'AlfaSlabOne';
    src: url(/Eg-Fonts/fonts/AlfaSlabOne-Regular.ttf);
}
@font-face{
    font-family: 'Montserrat';
    src: url(/Eg-Fonts/fonts/Montserrat-Regular.ttf);
}
body{
    background-color: #fff4f4;
    color: #3e2715;
}
header{
    background-color: #ffc045;
    width: 100%;
    height: 800px;
}
.header-top{
    display: flex;
}
.logo{
    margin-right: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo img{
    width: 130%;
}
.delivery-service{
    width: 30%;
    display: flex;
    justify-self: flex-end;
}
.delivery-service-image{
    margin: auto;
    margin-right: 0px;
}
.delivery-service-text{
    margin:auto;
    font-family: 'Montserrat';
    font-weight: bolder;
}
.menu-toolbar{
    text-align: right;
    margin-right: 50px;
}
ul li{
    display: inline;
    margin: 0px 20px;
}
li span{
    font-size: 18px;
}
.header-content{
    display: flex;
}
.header-content-right{
    width: 100%;
    position: relative;
    left: 350px;
    bottom: 90px;
}
.dashed-border-text{
    border: 2px dashed #3e2715;
    margin: 0px 25px;
    display: inline-block;
}
.dashed-border-text span{
    font-size: 12px;
}
.header-big-text{
    margin-left: 25px;
    font-size: 150px;
    display: block;
}
.header-small-text{
    margin-left: 25px;
    font-size: 75px;
    display: block;
    margin-top: -20px;
}
.presentation{
    margin-top: 5%;
    display: flex;
}
.presentation-left{
    position: relative;
    width: 50%;
    padding-bottom: 0px;
    margin: 10px;
}
.presentation-left-image img{
    border-radius: 11px;
    width: 100%;
    height: 100%;
}
.presentation-left-text{
    position: absolute;
    top: 30px;
    left: 30px;
}
.presentation-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.presentation-right-top{
    margin: 10px;
    position: relative;
}
.presentation-right-top img{
    border-radius: 11px;
    width: 100%;
    height: 290px;
}
.presentation-right-top-text{
    position: absolute;
    top: 30px;
    left: 30px;;
}
.presentation-right-bottom{
    margin: 10px;
    position: relative;
}
.presentation-right-bottom img{
    border-radius: 11px;
    width: 100%;
    height: 100%;
}
.presentation-right-bottom-text{
    position: absolute;
    top: 30px;
    left: 30px;
}
.presentation-text1{
    font-size: 25px;
    font-weight: lighter;
}
.presentation-text2{
    font-size: 40px;
}
.presentation-text1,.presentation-text2{
    display: block;
    color: white;
    font-weight: bolder;
}
.dishes{
    text-align: center;
    margin: 10px 0px;
}
.dishes-top{
    display: inline-block;
    background-color: #ffc045;
    width: 10%;
    height: 20px;
}
.dishes-top span{
    font-size: 20px;
    position: relative;
    bottom: 2.5px;
}
.dishes-header{
    font-size:70px;
    font-weight: bolder;
}
.dishes-header-text{
    width: 70%;
    display: inline-block;
    margin: 10px 0px;
}
.dishes-proposals{
    display: flex;
}
.dish1-image img{
    height: 355px;
}
.dishes-proposals div{
    display: block;
    margin-top: 10px;
}
.dish1,.dish2{
    margin: 0% 5.6%;
}
.dishes-proposals button,.button{
    background-color: #bf2222;
    border-style: none;
    width: 30%;
    height: 40px;
    display:block;
    margin: 0px auto;
    margin-top: 10px;
    color: white;
    font-size:large;
    padding: 5px;
}
.dishes-proposals button:hover{
    background-color: #7a1111;
}
.dishes-proposals button:active{
    background-color: #bf2222;
}
.event-discovery-container{
    display: flex;
    margin: 5%;
    background-color: #ffffff;
    box-shadow: 3px 4px 3px 0px black ;
}
.event-discovery-left{
    width: 50%;
    padding: 20px;
}
.event-discovery-text1{
    display: block;
    font-size: 30px;
}
.event-discovery-text2{
    display: block;
    font-size:45px
}
.event-discovery-full-text{
    display: inline-block;
    margin-bottom: 50%;
}
.event-discovery-right{
    width: 50%;
    padding: 10px;
}
.event-discovery-image img{
    width: 100%;
}
.event-discovery-circles{
    height: 12px;
    display: flex;
}
.event-discovery-circle{
    width: 12px;
    height: 12px;
    background-color: #dcdcdc;
    border-radius: 50%;
    margin-right: 5px;
}
.bg-yellow{
    background-color: #ffc045;
}
.reservation-top{
    display: flex;
}
.reservation-top-left-image{
    width: 25%;
}
.reservation-top-left-image img{
    width: 60%;
}
.reservation-header{
    position: relative;
    top: 70px;
    width: 42%;
    text-align: center;
}
.text1{
    font-size: xx-large;
}
.text2{
    font-size:70px;
}
.reservation-header span{
    display: block;
}
.reservation-body{
    display: flex;
}
.reservation-body-left{
    display: flex;
    width: 75%;
}
.reservation-body-left-image{
    width: 15%;
    text-align: right;
}
.reservation-body-left-image img{
    width: 80%;
}
.form-container{
    margin-left: 15%;
    padding-top: 10px;
    text-align: center;
    width: 150%;
   
}
input{
    width: 46%;
    height: 80px;
    margin-bottom: 30px;
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid black;
}
input[placeholder="PEOPLE"]{
    position: relative;
    right: 12px;
}
.form-container button{
    width: 46%;
    height: 84px;
    border-radius: 10px;
    border-style: none;
    background-color: #bf2222;
    color: white;
    font-size: xx-large;
    position: relative;
    top: 6px;
    right: 8px;
}
.reservation-right{
    margin-top:10%;
    width: 12%;
    text-align: right;
    overflow: hidden;
    margin-left: 10%;
}
.reservation-right img{
    position: relative;
    width: 350px;
    display: block;
    overflow: hidden;
    transform: rotate(75deg);
}
footer{
    position: relative;
}
.footer-background img{
    width: 100%;
}
.footer-logo{
    position: absolute;
    top: 35%;
    left: 70px;
}
.footer-logo img{
    width: 200%;
}
.footer-text{
    position: absolute;
    top: 50%;
    left: 70px;
    color: white;
    font-size: x-large;
}
.footer-infos{
    display: flex;
    margin-bottom: 20px;
}
.footer-right{
    position: absolute;
    color: white;
    top: 50%;
    right: 200px;
}
.footer-info-image img{
    width: 150%;
}
.footer-info-text{
    margin-left: 20px;
    margin: auto 0px auto 80px;
}
.footer-bottom{
    position: absolute;
    bottom: 190px;
    display: flex;
}
.copyright{
    position: absolute;
    bottom: 2px;
    left: 70px;
    color: white;
}
.social-networks-container{
    margin-left: 85%;
    border: 1px solid black;
}
.social-network{
    display: inline-block;
    width: 16%;
    margin-right: 10px;
}
.Bebas-Neue{
    font-family: 'Bebas-Neue','Courier New';
}
.bnb{
    font-family: 'Bebas-Neue';
}
.Alfaslabone{
    font-family: 'AlfaSlabOne','Courier New';
}